[Unit]
Description=Fetch due tasks from asana and store them in a file

[Service]
Type=simple
Nice=10
RuntimeMaxSec=300
ExecStart=python ~/software/asana_conky/fetch_todays_tasks.py
